.divider {
  color: $em-color-gray-700;
  display: block;
  font-size: 1.2rem;
  font-weight: $em-font-weight-medium;
  margin: auto;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  &::before,
  &::after {
    background-color: $em-color-gray-300;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    margin-left: -50%;
    right: 1rem;
  }

  &::after {
    left: 1rem;
    margin-right: -50%;
  }
}
