.main-footer {
  background: none;
  border-top: solid 2px rgba($em-color-gray-300, .3);
  height: auto;
  padding: 4.4rem 0 10rem;

  @include media-breakpoint-up(md) { padding-bottom: 0; }

  &__emeritus {
    margin: 0 auto 2.5rem;
    width: 20.9rem;
  }

  &__statement {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
}
