.highlights {
  h2 {
    @include media-breakpoint-down(sm) { margin-bottom: 1rem; }
  }

  &__highlight {
    display: flex;
    margin-top: 3rem;
    padding: 0;

    &:nth-of-type(even) {
      @include media-breakpoint-up(md) {
        .graphic__img {
          right: -2.5rem;

          .graphic__circle { @include transform(translateX(-2.5rem)); }
        }
      }

      .graphic__img .graphic__circle { fill: $em-color-gray-100; }
    }

    &:nth-of-type(3) .graphic__circle { fill: rgba($em-color-primary, .1); }
    &:nth-of-type(4) .graphic__circle { fill: rgba($em-color-secondary, .1); }

    @include media-breakpoint-up(md) {
      margin: 2.2rem 0 5rem;
      padding: 0 1.5rem;
    }
  }

  .row:nth-of-type(even) {
    .graphic__circle { fill: rgba($em-form-color-state, .2); }

    .highlights__highlight:nth-of-type(even) .graphic__circle { fill: rgba($em-color-secondary, .1); }
  }

  .graphic {
    max-width: 12rem;

    @include media-breakpoint-up(lg) { max-width: 15rem; }

    &__img {
      height: 10rem;
      position: absolute;
      right: 0;

      @include media-breakpoint-up(md) { height: 9rem; }

      @include media-breakpoint-up(lg) {
        height: 12.1rem;
        right: 1.5rem;
      }

      .graphic__circle {
        @include transform(translateX(2.5rem));
        fill: rgba($em-color-primary, .1);
      }
    }
  }

  &__enroll {
    margin: 4rem 0 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: 0;
      text-align: left;
    }
  }

  .enroll__btn {
    display: block;
    margin: 3rem auto 0;

    @include media-breakpoint-up(md) { margin: 0; }
  }
}
