.btn {
  @include button-size(1.3rem, 2rem, 1.4rem, 1.5, .5rem);
  @include border-radius(.5rem);
  border-width: 1px;
  font-weight: $em-font-weight-medium;
  margin: 4rem auto 0;

  @include media-breakpoint-up(md) { @include border-radius(0); }

  &--primary { min-width: 21.5rem; }

  &--secondary {
    @include button-size(1.3rem, 3rem, 1.4rem, 1.5, .5rem);
    @include border-radius(.5rem);
    font-weight: $em-font-weight-semi-bold;
    margin: 0 auto;

    @include media-breakpoint-up(md) { @include border-radius(0); }
  }

  &--tertiary,
  &--quaternary {
    @include button-size(1rem, 3rem, 1.4rem, 1.5, .5rem);
    @include border-radius(.5rem);

    @include media-breakpoint-up(md) { @include border-radius(0); }
  }

  &--social {
    @include button-size(1rem, 2.5rem, 1.6rem, 1.5, .5rem);
    align-items: center;
    background: map-get($social-colors, fb);
    color: $em-color-light;
    display: inline-flex;
    justify-content: center;
    margin: 3rem auto;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):active {
      background-color: $transparent;
      border-color: map-get($social-colors, fb);
      color: map-get($social-colors, fb);
    }
  }

  &--rounded { @include border-radius(100%); }

  &__icon {
    height: 3.2rem;
    margin-left: 1rem;
    width: 3.2rem;
  }
}
