/* -------------------------------
  Form Marketing override styles
--------------------------------- */
form .btn {
  @include border-radius(0);
  border-width: 1px;
  display: block;
  font-size: 1.6rem;
  margin-right: 2rem;
  width: 100%;
}
