/* -----------------------------------------------------------
  Custom typography colors for Digital Marketing Landing Page
------------------------------------------------------------- */
a:not(.btn):not(.link) { color: marketing-colors(columbia-business-school-executive-education, primary); }
ul li::before { color: marketing-colors(columbia-business-school-executive-education, secondary); }
.link { color: $em-color-light; }
.heading-2 { color: marketing-colors(columbia-business-school-executive-education, primary); }

